@{
    ViewBag.Title = "Sistema de Comercio";
}
<h2>@ViewBag.Title.</h2>
<h3>Mini Resumen</h3>

<p>Sistema diseñado para una multicompañia con diferentes sucursales, permitiendo la completa administracion y customización del sistema</p>
